<div id="main">
    {{#if recipe.recipe_id}}
        <h1 class="pageTitle">Edit Recipe</h1>
    {{else}}
        <h1 class="pageTitle">New Recipe</h1>
    {{/if}}
    {{#if recipe.recipe_id}}
        <form class="form-card"  action="/list/update/{{recipe.recipe_id}}" method="post" id="recipeform">
    {{else}}
        <form class="form-card"  action="/list/new" method="post" id="recipeform">
    {{/if}}
        <fieldset>
            <legend>RECIPE</legend>
            <div class="form-grid">

                <div class="form-row">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title"
                    {{#if recipe.title}} value="{{recipe.title}}" {{/if}}
                    />
                </div>

                <div class="form-row form-row-wide">
                    <label for="desc">Description</label>
                    <textarea name="desc" id="desc" rows="4", cols="60">{{#if recipe.description}}{{recipe.description}}{{/if}}</textarea>
                </div>

                <div class="form-row form-row-wide">
                    <label for="ingred">Ingredients</label>
                    <textarea name="ingred" id="ingred" rows="8", cols="60">{{#if recipe.ingredients}}{{recipe.ingredients}}{{/if}}</textarea>
                </div>

                <div class="form-row form-row-wide">
                    <label for="instruc">Instructions</label>
                    <textarea name="instruc" id="instruc" rows="8", cols="60">{{#if recipe.instructions}}{{recipe.instructions}}{{/if}}</textarea>
                </div>

                <div class="form-row">
                    <label for="categid">Category</label>
                    <select name="categid" id="categid">
                        //When updating a Recipe this option can be the default selected
                        {{#if recipe.recipe_id}}    
                            <option value=1 {{#if (eq recipe.category_id 1)}} selected {{/if}}  //Using EQuity from the handlebars helper
                            >Cakes/Pastries</option>
                        {{else}}   
                            //But when creating a new Recipe the default value will be "Cakes/Pastries"
                            <option value=1 selected>Cakes/Pastries</option>
                        {{/if}}
                        <option value=2 {{#if (eq recipe.category_id 2)}} selected {{/if}} 
                        >Hot Drinks</option>
                        <option value=3 {{#if (eq recipe.category_id 3)}} selected {{/if}}
                        >Cold Drinks</option>
                        <option value=4 {{#if (eq recipe.category_id 4)}} selected {{/if}}
                        >Desserts/Sweets</option>
                        <option value=5 {{#if (eq recipe.category_id 5)}} selected {{/if}}
                        >Specialty Items</option>
                    </select>
                </div>
                <div class="form-row">
                    <label for="credits">Credits</label>
                    <input type="text" name="credits" id="credits"
                    {{#if recipe.credits}} value="{{recipe.credits}}"{{/if}}
                    />
                </div>

                <div class="form-row">
                    <label for="img">Image</label>
                    <input type="text" name="img" id="img"
                    {{#if recipe.img_url}} value="{{recipe.img_url}}"{{/if}}
                    />
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn primary">Submit</button>
                    <a href="/list" class="btn">Cancel</a>
                </div>
            </div>
        </fieldset>
    </form>
    {{#if error}}
        <p class="errorMessage">{{error}}</p>
    {{/if}}
</div>