<h1 class="pageTitle">RECIPES PAGE</h1>
<div id="main">
    <div>
        {{#if session.isAdmin}}
            <a href="/list/new">Add a recipe</a>
        {{/if}}
    </div>
    {{#each recipes}}
        <div class="card-container">
            <div class="card">
                <img src="/images/defaultCardImage.jpg">
                <div class="card-content">
                    <h3>{{title}}</h3>
                    {{!-- <p>{{}}</p> --}}
                    <p>{{description}}</p>
                    <p>By - {{credits}}</p>
                    <a href="/list/{{recipe_id}}" class="btn"> See recipe</a>
                    <form style="display: inline;" method="get" action="/list/update/{{recipe_id}}">
                        <button type="submit">Edit</button>
                    </form>
                    <form style="display: inline;" method="POST" action="/list/delete/{{recipe_id}}">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    {{/each}}
    {{#if error}}
        <p class="errorMessage">{{error}}</p>
    {{/if}}
</div>